@import url('https://fonts.googleapis.com/css?family=Muli&dispaly=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', sans-serif;
    color: #222;
    padding-bottom: 50px;
}

.container {
    max-width: 100%;
}

