/* GLOBAL STYLE */
@import url('https://fonts.googleapis.com/css?family=Muli&dispaly=swap');

/* DOM STYLE */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

/* MAIN CONTAINER*/


/* CONTAINER CLASSES */


/* CONTAINER IDS */


/* ANIMATIONS */


/* RESPONSIVE FEATURES */