@import url("https://fonts.googleapis.com/css?family=Muli&dispaly=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: url("https://source.unsplash.com/random/?landscape,landscape");
  background-position: center;
  background-size: cover;
  transition: 0.7s ease;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7) ;
}