p {
  color: white;
  font-size: 15px; 
}

.container {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
}

.add-button {
  background: #fff;
  width: 100px;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.add-button:hover {
  background: #888;
}

.add-button:active {
  scale: 0.98;
}

.animal-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3rem;
  width: 400px;
  
}